In [1]:
import pandas as pd
import numpy as np
import statsmodels.api as sm
import statsmodels.formula.api  as smf
import math

In [3]:
df = pd.read_stata('C:/Users/17172/Desktop/iRCT/datasets/ArceneauxGerberGreen_PA_2006_IA_MI_merge040504.dta')
df.drop(df[df['bad_county'] == 1].index, inplace = True)
df=df[df['vote00'].notna()]
df

,persons,competiv,vote00,treatmen,county,st_sen,st_hse,vote98,newreg,pid_maj,...,treat_real,treat_pseudo,state,comp_mi,comp_ia,fem_miss,female2,lc,hc,pseudo_portion
0,2,uncompetitive,1,unlisted,1,29,58,0,0,0.0,...,NaN,0,Iowa,0,uncompetitive,0,0,1,1,control
1,2,uncompetitive,1,control,1,29,58,0,0,0.0,...,0.0,0,Iowa,0,uncompetitive,0,0,1,1,NaN
2,1,uncompetitive,0,control,1,29,58,1,0,1.0,...,0.0,0,Iowa,0,uncompetitive,0,1,1,1,NaN
3,2,uncompetitive,1,unlisted,1,29,58,1,0,2.0,...,NaN,0,Iowa,0,uncompetitive,0,0,1,1,control
4,1,uncompetitive,1,control,1,29,58,1,0,2.0,...,0.0,0,Iowa,0,uncompetitive,0,1,1,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2474922,1,uncompetitive,0,control,83,35,102,0,1,NaN,...,0.0,0,Michigan,uncompetitive,0,0,1,1,1,NaN
2474923,1,uncompetitive,0,control,83,35,102,0,1,NaN,...,0.0,0,Michigan,uncompetitive,0,0,0,1,1,NaN
2474924,1,uncompetitive,1,control,83,35,102,0,0,NaN,...,0.0,0,Michigan,uncompetitive,0,0,1,1,1,NaN
2474925,1,uncompetitive,0,control,83,35,102,0,1,NaN,...,0.0,0,Michigan,uncompetitive,0,0,0,1,1,NaN
2474926,2,uncompetitive,0,control,83,35,102,0,1,NaN,...,0.0,0,Michigan,uncompetitive,0,0,1,1,1,NaN

In [13]:
df = df[['vote02', 'contact', 'age',  'persons', 'newreg', 'competiv', 'vote00', 'vote98', 'county', 'st_sen', 'st_hse', 'female', 'state']]
df=df[df['contact'].notna()]
df['id']=np.arange(df.shape[0])+1
rest = ['age',  'persons', 'newreg', 'competiv', 'vote00', 'vote98', 'county', 'st_sen', 'st_hse', 'female', 'state']
df

,vote02,contact,age,persons,newreg,competiv,vote00,vote98,county,st_sen,st_hse,female,state,id
1,0,0.0,39,2,0,uncompetitive,1,0,1,29,58,0.0,Iowa,1
2,1,0.0,82,1,0,uncompetitive,0,1,1,29,58,1.0,Iowa,2
4,1,0.0,44,1,0,uncompetitive,1,1,1,29,58,1.0,Iowa,3
6,1,0.0,78,1,0,uncompetitive,1,0,1,29,58,1.0,Iowa,4
7,1,0.0,74,1,0,uncompetitive,1,1,1,29,58,0.0,Iowa,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2474922,1,0.0,41,1,1,uncompetitive,0,0,83,35,102,1.0,Michigan,1905316
2474923,0,0.0,32,1,1,uncompetitive,0,0,83,35,102,0.0,Michigan,1905317
2474924,0,0.0,76,1,0,uncompetitive,1,0,83,35,102,1.0,Michigan,1905318
2474925,1,0.0,49,1,1,uncompetitive,0,0,83,35,102,0.0,Michigan,1905319
2474926,0,0.0,38,2,1,uncompetitive,0,0,83,35,102,1.0,Michigan,1905320

In [14]:
rest

['age',
 'persons',
 'newreg',
 'competiv',
 'vote00',
 'vote98',
 'county',
 'st_sen',
 'st_hse',
 'female',
 'state']

In [17]:
# exact matching on the covariates
df_control=df[df['contact']==0.0]
df_control.rename(columns={'vote02':'vote020'}, inplace=True)
df_control['_n0']= df_control.groupby(rest)['id'].transform('count')
df_control

C:\Users\17172\AppData\Local\Temp\ipykernel_35420\2312460703.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_control.rename(columns={'vote02':'vote020'}, inplace=True)
C:\Users\17172\AppData\Local\Temp\ipykernel_35420\2312460703.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_control['_n0']= df_control.groupby(rest)['id'].transform('count')

,vote020,contact,age,persons,newreg,competiv,vote00,vote98,county,st_sen,st_hse,female,state,id,_n0
1,0,0.0,39,2,0,uncompetitive,1,0,1,29,58,0.0,Iowa,1,3.0
2,1,0.0,82,1,0,uncompetitive,0,1,1,29,58,1.0,Iowa,2,1.0
4,1,0.0,44,1,0,uncompetitive,1,1,1,29,58,1.0,Iowa,3,2.0
6,1,0.0,78,1,0,uncompetitive,1,0,1,29,58,1.0,Iowa,4,2.0
7,1,0.0,74,1,0,uncompetitive,1,1,1,29,58,0.0,Iowa,5,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2474922,1,0.0,41,1,1,uncompetitive,0,0,83,35,102,1.0,Michigan,1905316,6.0
2474923,0,0.0,32,1,1,uncompetitive,0,0,83,35,102,0.0,Michigan,1905317,3.0
2474924,0,0.0,76,1,0,uncompetitive,1,0,83,35,102,1.0,Michigan,1905318,7.0
2474925,1,0.0,49,1,1,uncompetitive,0,0,83,35,102,0.0,Michigan,1905319,2.0
2474926,0,0.0,38,2,1,uncompetitive,0,0,83,35,102,1.0,Michigan,1905320,2.0

In [16]:
df_treatment=df[df['contact']==1]
df_treatment['_n1']= df_treatment.groupby(rest)['id'].transform('count')
df_treatment['tid'] = df_treatment['id']
df_treatment = df_treatment.drop('id', 1)
df_treatment.rename(columns={'vote02':'vote021'}, inplace=True)
df_treatment

C:\Users\17172\AppData\Local\Temp\ipykernel_35420\73288320.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_treatment['_n1']= df_treatment.groupby(rest)['id'].transform('count')
C:\Users\17172\AppData\Local\Temp\ipykernel_35420\73288320.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_treatment['tid'] = df_treatment['id']
C:\Users\17172\AppData\Local\Temp\ipykernel_35420\73288320.py:4: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  df_treatment = df_treatment.drop('id', 1)

,vote021,contact,age,persons,newreg,competiv,vote00,vote98,county,st_sen,st_hse,female,state,_n1,tid
18,1,1.0,85,2,0,uncompetitive,1,1,1,29,58,0.0,Iowa,1.0,11
27,1,1.0,43,2,0,uncompetitive,1,1,1,29,58,0.0,Iowa,1.0,19
37,1,1.0,46,2,0,uncompetitive,1,1,1,29,58,1.0,Iowa,1.0,26
47,1,1.0,64,2,0,uncompetitive,1,1,1,29,58,0.0,Iowa,3.0,31
56,1,1.0,72,1,0,uncompetitive,1,1,1,29,58,0.0,Iowa,1.0,38
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2474107,1,1.0,47,2,0,uncompetitive,1,0,83,35,102,1.0,Michigan,1.0,1904592
2474159,1,1.0,43,2,0,uncompetitive,1,0,83,35,102,0.0,Michigan,1.0,1904638
2474404,0,1.0,29,1,1,uncompetitive,0,0,83,35,102,1.0,Michigan,1.0,1904845
2474533,0,1.0,30,1,1,uncompetitive,0,0,83,35,102,0.0,Michigan,1.0,1904964
2474630,1,1.0,49,2,1,uncompetitive,1,0,83,35,102,0.0,Michigan,1.0,1905050

In [18]:
df_combine = df_treatment.merge(df_control, how='inner', on=rest) # only keep the matched observations
df_combine

,vote021,contact_x,age,persons,newreg,competiv,vote00,vote98,county,st_sen,st_hse,female,state,_n1,tid,vote020,contact_y,id,_n0
0,1,1.0,85,2,0,uncompetitive,1,1,1,29,58,0.0,Iowa,1.0,11,1,0.0,143,2.0
1,1,1.0,85,2,0,uncompetitive,1,1,1,29,58,0.0,Iowa,1.0,11,1,0.0,683,2.0
2,1,1.0,43,2,0,uncompetitive,1,1,1,29,58,0.0,Iowa,1.0,19,1,0.0,182,6.0
3,1,1.0,43,2,0,uncompetitive,1,1,1,29,58,0.0,Iowa,1.0,19,1,0.0,312,6.0
4,1,1.0,43,2,0,uncompetitive,1,1,1,29,58,0.0,Iowa,1.0,19,1,0.0,329,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
265041,0,1.0,30,1,1,uncompetitive,0,0,83,35,102,0.0,Michigan,1.0,1904964,0,0.0,1904949,7.0
265042,0,1.0,30,1,1,uncompetitive,0,0,83,35,102,0.0,Michigan,1.0,1904964,1,0.0,1905085,7.0
265043,0,1.0,30,1,1,uncompetitive,0,0,83,35,102,0.0,Michigan,1.0,1904964,0,0.0,1905104,7.0
265044,0,1.0,30,1,1,uncompetitive,0,0,83,35,102,0.0,Michigan,1.0,1904964,0,0.0,1905151,7.0
265045,0,1.0,30,1,1,uncompetitive,0,0,83,35,102,0.0,Michigan,1.0,1904964,0,0.0,1905189,7.0

In [19]:
# calculate the comparison group weight
df_combine['numc']= df_combine.groupby('tid')['id'].transform('count')
df_combine['_encm']= df_combine.groupby('id')['id'].transform('count')
df_combine['_eweight']=1/df_combine['numc']
df_combine['_ratio']=df_combine['_n1']/df_combine['_n0']
df_combine

,vote021,contact_x,age,persons,newreg,competiv,vote00,vote98,county,st_sen,...,_n1,tid,vote020,contact_y,id,_n0,numc,_encm,_eweight,_ratio
0,1,1.0,85,2,0,uncompetitive,1,1,1,29,...,1.0,11,1,0.0,143,2.0,2,1,0.500000,0.500000
1,1,1.0,85,2,0,uncompetitive,1,1,1,29,...,1.0,11,1,0.0,683,2.0,2,1,0.500000,0.500000
2,1,1.0,43,2,0,uncompetitive,1,1,1,29,...,1.0,19,1,0.0,182,6.0,6,1,0.166667,0.166667
3,1,1.0,43,2,0,uncompetitive,1,1,1,29,...,1.0,19,1,0.0,312,6.0,6,1,0.166667,0.166667
4,1,1.0,43,2,0,uncompetitive,1,1,1,29,...,1.0,19,1,0.0,329,6.0,6,1,0.166667,0.166667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
265041,0,1.0,30,1,1,uncompetitive,0,0,83,35,...,1.0,1904964,0,0.0,1904949,7.0,7,1,0.142857,0.142857
265042,0,1.0,30,1,1,uncompetitive,0,0,83,35,...,1.0,1904964,1,0.0,1905085,7.0,7,1,0.142857,0.142857
265043,0,1.0,30,1,1,uncompetitive,0,0,83,35,...,1.0,1904964,0,0.0,1905104,7.0,7,1,0.142857,0.142857
265044,0,1.0,30,1,1,uncompetitive,0,0,83,35,...,1.0,1904964,0,0.0,1905151,7.0,7,1,0.142857,0.142857
265045,0,1.0,30,1,1,uncompetitive,0,0,83,35,...,1.0,1904964,0,0.0,1905189,7.0,7,1,0.142857,0.142857

In [20]:
df_combine_c = df_combine[['id','_eweight']]
df_combine_c['_eweight'] = df_combine_c.groupby('id')['_eweight'].transform('mean')
df_combine_c

C:\Users\17172\AppData\Local\Temp\ipykernel_35420\2200617613.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_combine_c['_eweight'] = df_combine_c.groupby('id')['_eweight'].transform('mean')

             id  _eweight
0           143  0.500000
1           683  0.500000
2           182  0.166667
3           312  0.166667
4           329  0.166667
...         ...       ...
265041  1904949  0.142857
265042  1905085  0.142857
265043  1905104  0.142857
265044  1905151  0.142857
265045  1905189  0.142857

[265046 rows x 2 columns]

In [21]:
df_combine_t = df_combine[['tid','_eweight']]
df_combine_t['_eweight'] = 1
df_combine_t['id'] = df_combine_t['tid']
df_combine_t = df_combine_t.drop('tid', 1)
df_combine_t.drop_duplicates(keep="first", inplace=True)
df_combine_t

C:\Users\17172\AppData\Local\Temp\ipykernel_35420\2697574118.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_combine_t['_eweight'] = 1
C:\Users\17172\AppData\Local\Temp\ipykernel_35420\2697574118.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_combine_t['id'] = df_combine_t['tid']
C:\Users\17172\AppData\Local\Temp\ipykernel_35420\2697574118.py:4: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  df_combine_t = df_combine_t.drop('tid', 1)

        _eweight       id
0              1       11
2              1       19
8              1       26
13             1       31
22             1      134
...          ...      ...
264996         1  1904458
265003         1  1904521
265013         1  1904592
265030         1  1904638
265039         1  1904964

[22711 rows x 2 columns]

In [22]:
df_weight = pd.concat([df_combine_t,df_combine_c])
df_combine_weight = df.merge(df_weight, how='inner', on='id')
df_combine_weight

,vote02,contact,age,persons,newreg,competiv,vote00,vote98,county,st_sen,st_hse,female,state,id,_eweight
0,1,0.0,74,1,0,uncompetitive,1,1,1,29,58,0.0,Iowa,5,0.500000
1,1,0.0,46,2,0,uncompetitive,1,1,1,29,58,1.0,Iowa,6,0.200000
2,0,0.0,78,2,0,uncompetitive,1,1,1,29,58,1.0,Iowa,7,0.200000
3,0,0.0,42,2,0,uncompetitive,1,1,1,29,58,0.0,Iowa,8,0.111111
4,0,0.0,42,2,0,uncompetitive,1,1,1,29,58,0.0,Iowa,8,0.111111
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
287752,1,0.0,30,1,1,uncompetitive,0,0,83,35,102,0.0,Michigan,1905085,0.142857
287753,0,0.0,30,1,1,uncompetitive,0,0,83,35,102,0.0,Michigan,1905104,0.142857
287754,0,0.0,42,1,0,uncompetitive,0,0,83,35,102,1.0,Michigan,1905119,0.083333
287755,0,0.0,30,1,1,uncompetitive,0,0,83,35,102,0.0,Michigan,1905151,0.142857
287756,0,0.0,30,1,1,uncompetitive,0,0,83,35,102,0.0,Michigan,1905189,0.142857

In [23]:
# calculate ATE
nttot = df_combine_t['id'].count()
print("number of treated units:", nttot)
df_combine_weight['_wyi']=(df_combine_weight['contact'] - (1-df_combine_weight['contact'] )*df_combine_weight['_eweight'])*df_combine_weight['vote02']
d = df_combine_weight['_wyi'].sum()
att=d/nttot
print("average treated effect for the treated:", att)

number of treated units: 22711
average treated effect for the treated: 0.028117891891252893